*{
    margin: 0;
    padding: 0;
    font-family: "Parkinsans", Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

@font-face {
    font-family: 'ahsing';
    src: url('ahsing-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@keyframes bgSwitchPandemonium{
    0%{background-image: url(PANDSHOWCASE1.png);}
    11%{background-image: url(PANDSHOWCASE2.png);}
    22%{background-image: url(PANDSHOWCASE3.png);}
    33%{background-image: url(PANDSHOWCASE4.png);}
    44%{background-image: url(PANDSHOWCASE5.png);}
    55%{background-image: url(PANDSHOWCASE6.png);}
    66%{background-image: url(PANDSHOWCASE7.png);}
    77%{background-image: url(PANDSHOWCASE8.png);}
    100%{background-image: url(PANDSHOWCASE9.png);}
}




.parkinsans {
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}



/*header*/
header{
    width: 100%;
    height: 15vh;
    background-color: black;
    text-align: center;
    position: fixed;
    z-index: 5;
}

.weblogo{
    width: 200px;
    cursor: pointer;
}

ul{
    justify-content: center;
    display: flex;
}

li a{
    transition: 0.3s;
    padding: 20px;
    text-decoration: none;
    color: white;
}

ul li{
    list-style: none;
    display: inline-bock;
    position: relative;
}

ul li::after{
    content: '';
    align-self: center;
    height: 1px;
    width: 0%;
    background-color: white;
    border-radius: 12px;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

ul li:hover::after{
    width: 100%;
    transition: 0.3s;
}

ul li a:hover{
    color: lightgrey;
    transition: 0.3s;
}


/*HOME*/
.home{
    background: linear-gradient(135deg, rgba(0,0,0,1), rgba(0,0,0,1));
    height: 90vh;
    background-size: 1%;
    align-content: center;
    text-align: center;
    z-index: -1;
}

.image-grid{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
    background-color: black;
    opacity: 50%;
    overflow: hidden;
    z-index: 0;
    position: relative;
    margin: 0 auto;
}

.image-row{
    display: flex;
    gap: 10px;
    rotate: 25deg;
    overflow: hidden;
    z-index: -1;
}

.image-row {
    transition: transform 0.3s ease-out;
}

.image{
    flex: 1;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    z-index: -1;
}

.nametitle,
.slogan,
.subslogan{
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 100%;
    text-shadow: 0 0 10px rgb(2, 193, 196);
}

h1{
    text-align: center;
    font-family: 'ahsing';
    color: white;
    white-space: nowrap;
    overflow: hidden;
    font-size: 100;
    font-weight: lighter;
    top: 45%;
    text-shadow: 0 0 10px rgba(179, 236, 255, 0.3)
}
.slogan{
    text-align: center;
    color: white;
    top: 57%;
    font-weight: 500;
}

.subslogan{
    text-align: center;
    color: lightblue;
    top: 60%;
    font-weight: 1000;
}


/*ABOUTME*/
.aboutme{
    background-color: black;
    height: 750vh;
    z-index: 1;
    position: relative;
}

.abtdiv{
    width: 100%;
    height: 100vh;
    background: url(HomeImage7.PNG);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

h2{
    text-align: center;
    font-family: 'ahsing';
    font-size: 50px;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    color: white;
    font-weight: lighter;
    padding: 5px;
}

.abtsect{
    height: 50%;
    align-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.abtTab{
    text-align: center;
    width: 70%;
    padding: 10px;
    margin: 10px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255,255,255,1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: 0.5s;
}

.abtsect .abtTab{
    width: 40%;
}

.abtTab:hover{
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0 0 20px rgba(0,0,0,1);
    transition: 0.5s;
}

.tabHeader{
    color: midnightblue;
    font-size: 20;
    text-shadow: 0 0 5px rgba(255,255,255,1);
}

.tabPara{
    color: black;
    font-size: 15;
    text-shadow: 0 0 10px rgba(255,255,255,1);
}


.abtpara{
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.horizontaldiv{
    background-color: white;
    width: 65%;
    height: 0.5px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}


.skillsdiv{
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)), url(WEBbg.png);
    background-position: center;
    background-size: contain;
}

.skillspara{
    color: white;
    text-align: center;
    
}

.logoTitle{
    font-size: 10;
}

.logos{
    text-align: center;
    margin: auto;
}

.logo{
    width: 100px;
    padding: 10px;
}



.logosect{
    display: flex;
    justify-content: center;
}

.logodiv{
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
    transition: 0.3s;
}

.logodiv:hover{
    transition: 0.3s;
    box-shadow: 0 0 25px rgba(0,0,255,1);
}


/*MILESTONES*/
/* .milestonediv{
    display: flex;
    align-items: flex-start;
    position: relative;
    height: 310vh;
    width: 100%;
}

.milestonesect{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.milestone-2023, .milestone-2024{
    background-size: contain;
    background-position: center;
    text-align: center;
    align-content: center;
}

.milestone-2023{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.4)), url(milestoneBG2.png);
}

.milestone-2024{
    height: 260vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,1)), url(milestoneBG1.png);
}

.verticaldiv{
    background-color: white;
    height: 500px;
    width: 1px;
    text-align: center;
    margin: auto;
}

.milestoneHeader{
    font-weight: 800;
    font-size: 50px;
    color: white;
}

.milestonePara{
    color: white
} */

.milestonediv{
    height: 500vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.overallSect, .sect2023, .sect2024, .sect2025, .endingSect{
    min-height: 100vh;
    align-content: center;
    position: sticky;
    top: 0;
    background-color: black;
    overflow: hidden;
}

.overallSect{
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)), url('msBG.PNG');
    background-size: cover;
    background-position: center;
}

.sect2023{
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)), url('msBG2.jpeg');
    background-size: cover;
    background-position: center;
}

.sect2024{
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)), url('msBG3.png');
    background-size: cover;
    background-position: center;
}

.sect2024 .horizontaldiv, .sect2025 .horizontaldiv{
    margin-top: 20px;
    margin-bottom: 20px;
}

.sect2025{
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)), url('msBG4.png');
    background-size: cover;
    background-position: center;
}


.msTitle{
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 0 0 10px rgba(0,0,0,1);
}

.msPara{
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 15px;
}
.overallSect .msTitle, .endingSect .msTitle{
    text-align: center;
}
.overallSect .msPara{
    text-align: center;
}

.Year{
    padding-bottom: 50px;
}

.yearText{
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: lighter;
    opacity: 70%;
}

/*PROJECTS*/
.projects{
    width: 100%;
    height: 200vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,1)), url(WEBbg.png);
    background-size: contain;
    background-position: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.projSectTitle{
    margin-bottom: 40px;
}

.projecttab1, .projecttab2, .projecttab3 {
    width: 100%;
    height: 50vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    background-size: cover;
    background-position: center;
}

.projecttab1{
    animation: bgSwitchPandemonium 90s infinite;
}

.projecttab2{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('ProjBGBE.png');
    background-size: cover;
    background-position: center;
}

.projecttab3{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('ProjBGVER.png');
}

.textbody {
    width: 65%;
    height: 60%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-sizing: border-box;
    align-content: center;
}


.projectTitle{
    color: white;
    font-size: 20;
}

.projectBody{
    color: white;
    font-size: 13;
}

.PANDBtn,.BEBtn, .VERTBtn{
    width: 100px;
    height: 20%;
    margin: 10px;
    background-color: white;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    color: black;
    transition: 0.3s;
}

.PANDBtn:hover, .BEBtn:hover, .VERTBtn:hover{
    width: 150px;
    cursor: pointer;
    background-color: rgba(255,255,255,0);
    border: solid 0.5px rgba(255,255,255,1);
    color: white;
    transition: 0.3s;
}


/*EXPERIENCE*/
.experience {
    width: 100%;
    height: 120vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(WEBbg3.png);
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.expTab {
    width: 60%;
    height: 30vh;
    background-color: midnightblue;
    color: white;
    padding: 10px;
    margin: 20px;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    border: solid 0.5px white;
    border-radius: 50px;
}


.expTitle{
    font-size: 25px;
    text-shadow: 0 0 10px rgba(255,255,140,1)
}
.expBody{
    font-size: 12px;
}

.posTitle{
    color: white;
    text-align: center;
    font-size: 30px;
}

.posDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.positionsTab{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropDownLabel{
    width: 85%;
    background-color: rgba(0,0,0,0);
    border: solid 0.3px rgba(255,255,255,1);
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

.dropDownLabel:hover{
    box-shadow: 0 0 10px rgba(255,255,255,1);
    transition: 0.3s;
}

.dropTitle{
    color: white;
    text-align: left;
    padding-left: 10px;
}

.posBody{
    height: 0;
    display: none;
    overflow: hidden;
    color: #c1c1c1;
    transition: height 0.3s ease;
    padding-left: 10px;
}

.posImgRow{
    width: 75%;
    gap: 10px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding: 10px;
}

.posImage{
    flex: 1;
    width: 250px;
    height: 175px;
    background-size: cover;
    background-position: center;
}

.dropArrow{
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}


/*CONTACT*/
.contact{
    width: 100%;
    height: 65vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8)), url(WEBbg4.png);
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contactHeader{
    color: white;
}

.contactinfotab{
    width: 60%;
    height: 30vh;
    text-align: center;
    padding: 20px;
    border-radius: 50px;
}

.contactTitle{
    color: white;
    font-size: 30px;
    margin: 10px;
}

.contactDetail{
    color: #c8c8c8;
    text-align: center;
}

.gitBtn{
    width: 130px;
    height: 50px;
    border: solid 0.5px white;
    background-color: skyblue;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
}

.gitBtn:hover{
    width: 160px;
    background-color: rgba(0,0,0,1);
    border: solid 0.5px skyblue;
    color: white;
    transition: 0.3s;
}

/*FOOTER*/
footer{
    background-image: url(WEBbg5.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 800px){
    header{
        height: 7vh;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
    }
    
    .navbar{
        overflow: hidden;
        position: absolute;
        background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0));
        height: 200vh;
        width: 100%;
        top: -200vh;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: left;
        z-index: 5;
        transition: 1s;
    }
    
    ul{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    
    ul li{
        padding: 15px;
    }
    
    .fa{
        display: block;
        color: white;
        margin: 5px;
        padding: 20px;
        font-size: 30px;
        cursor: pointer;
    }
    
    h1{
        font-size: 60;
    }
    
    h2{
        font-size: 40;
    }
    
    .slogan, .subslogan{
        font-size: 15;
    }

    .image{
        height: 150px;
    }

    .abtdiv{
        height: 130vh;
    }

    .abtsect{
        overflow-y: scroll;
        scroll-behavior: smooth;
        padding: 10px;
        flex-direction: column;
    }

    .abtsect .abtTab{
        width: 80%;
    }
    
    .abtpara{
        padding: 0;
        font-size: 15px;
    }
    
    .textbody{
        width: 80%;
    }
    
    .projectTitle{
        font-size: 20;
    }
    
    .projectBody{
        font-size: 11;
    }
    
    .expTitle{
        font-size: 20;
    }
    .expBody{
        font-size: 10;
    }
    
    .contact{
        height: 65vh;
    }
    
    .contactinfotab{
        padding: 0;
    }
    
    .contactTitle{
        font-size: 25;
    }
    
    .dropTitle{
        font-size: 15;
    }
    
    .posBody{
        font-size: 13;
    }

    .dropArrow{
        width: 20px;
        height: 20px;
    }
    
}

@media(max-width: 500px){
    .nametitle{
        font-size: 40;
    }
    .slogan, .subslogan{
        font-size: 12;
    }

    .aboutme{
        height: 950vh;
    }

    .logosect{
        display: flex;
        flex-direction: column;
    }
    
    .dropTitle{
        font-size: 13;
    }
    
    .posBody{
        font-size: 10;
    }

    .expTitle{
        font-size: 15;
    }
    .expBody{
        font-size: 10;
    }
}
